<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjyfff.dq.task.mapper.DelayQueueExecLogMapper">
  <resultMap id="BaseResultMap" type="com.cjyfff.dq.task.model.DelayQueueExecLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="task_id" jdbcType="VARCHAR" property="taskId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sharding" jdbcType="TINYINT" property="sharding" />
    <result column="function_name" jdbcType="VARCHAR" property="functionName" />
    <result column="params" jdbcType="VARCHAR" property="params" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="task_result_id" jdbcType="BIGINT" property="taskResultId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, task_id, status, sharding, function_name, params, msg, task_result_id, created_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from delay_queue_exec_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from delay_queue_exec_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cjyfff.dq.task.model.DelayQueueExecLog">
    insert into delay_queue_exec_log (id, task_id, status, 
      sharding, function_name, params, msg,
      task_result_id, created_at)
    values (#{id,jdbcType=BIGINT}, #{taskId,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
      #{sharding,jdbcType=TINYINT}, #{functionName,jdbcType=VARCHAR}, #{params,jdbcType=VARCHAR}, 
      #{msg,jdbcType=VARCHAR}, #{taskResultId,jdbcType=BIGINT}, #{createdAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cjyfff.dq.task.model.DelayQueueExecLog">
    insert into delay_queue_exec_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="sharding != null">
        sharding,
      </if>
      <if test="functionName != null">
        function_name,
      </if>
      <if test="params != null">
        params,
      </if>
      <if test="msg != null">
        msg,
      </if>
      <if test="taskResultId != null">
        task_result_id,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="sharding != null">
        #{sharding,jdbcType=TINYINT},
      </if>
      <if test="functionName != null">
        #{functionName,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="msg != null">
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="taskResultId != null">
        #{taskResultId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cjyfff.dq.task.model.DelayQueueExecLog">
    update delay_queue_exec_log
    <set>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="sharding != null">
        sharding = #{sharding,jdbcType=TINYINT},
      </if>
      <if test="functionName != null">
        function_name = #{functionName,jdbcType=VARCHAR},
      </if>
      <if test="params != null">
        params = #{params,jdbcType=VARCHAR},
      </if>
      <if test="msg != null">
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="taskResultId != null">
        task_result_id = #{taskResultId,jdbcType=BIGINT},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cjyfff.dq.task.model.DelayQueueExecLog">
    update delay_queue_exec_log
    set task_id = #{taskId,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      sharding = #{sharding,jdbcType=TINYINT},
      function_name = #{functionName,jdbcType=VARCHAR},
      params = #{params,jdbcType=VARCHAR},
      msg = #{msg,jdbcType=VARCHAR},
      task_result_id = #{taskResultId,jdbcType=BIGINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>